@page
@model Nadina_Proiect3.Pages.ProduseExt.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Exterior[0].Denumire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exterior[0].Cod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exterior[0].Pret)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exterior[0].Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exterior[0].Culoare)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Exterior) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Denumire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pret)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Material)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Culoare)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ExteriorId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ExteriorId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ExteriorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
