@page
@model Nadina_Proiect3.Pages.Categories.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Categorii Decoratiuni</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Categorie[0].Denumire)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Categorie) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Denumire)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CategorieId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CategorieId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CategorieId">Delete</a> | 
                <a href="Produse">Produse</a>
            </td>
        </tr>
}
    </tbody>
</table>
